/**
 *  This is for all css that will affect the elements that are above the fold.
 */

/* MEDIA QUERIES */
/*
@media screen and ( min-width: 420px ) {

}
@media screen and ( min-width: 640px ) {

}
@media screen and ( min-width: 768px ) {

}
@media screen and ( min-width: 992px ) {

}
@media screen and ( min-width: 1200px ) {

}
@media screen and ( min-width: 1366px ) {

}
*/
/* END MEDIA QUERIES */

/* TRANSITIONS */
$custom-transition: all .15s ease-in-out;

/* THEME FONTS */
@font-face {
    font-family: Avenir-Book;
    src: url(../fonts/Avenir-Book.ttf);
}
@font-face {
    font-family: Avenir-Light;
    src: url(../fonts/Avenir-Light.ttf);
}
@font-face {
    font-family: Avenir-Medium;
    src: url(../fonts/Avenir-Medium.ttf);
}
@font-face {
    font-family: Avenir-Heavy;
    src: url(../fonts/Avenir-Heavy.ttf);
}
@font-face {
    font-family: Avenir-Black;
    src: url(../fonts/Avenir-Black.ttf);
}
@font-face {
    font-family: Avenir-Roman;
    src: url(../fonts/Avenir-Roman.ttf);
}
@font-face {
    font-family: Avenir-Oblique;
    src: url(../fonts/Avenir-Oblique.ttf);
    font-style: italic;
}
$avenir-book: Avenir-Book, sans-serif;
$avenir-light: Avenir-Light, sans-serif;
$avenir-medium: Avenir-Medium, sans-serif;
$avenir-heavy: Avenir-Heavy, sans-serif;
$avenir-black: Avenir-Black, sans-serif;
$avenir-roman: Avenir-Roman, sans-serif;
$avenir-oblique: Avenir-Oblique, sans-serif;

/* THEME COLORS */
$header-color: #3C6595;
$header-dark: #143B6A;
$footer-color: #424244;
$btn-color: #424244;

/* THEME AREA HEIGHTS */
$footer-height: 380px;

/* page setup */
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	font-family: $avenir-book;
	-webkit-font-smoothing: antialiased;
}

a:hover, a:focus, a:active {
	text-decoration: none;
}

div#page-wrap {
	position: relative;
	min-height: 100%;
}

#masthead {
	position: fixed;
	display: block;
	height: 80px;
	width: 100%;
	margin: 0;
	padding: 4vw;
	z-index: 100;
	transition: $custom-transition;
	@media screen and ( min-width: 420px ) {

	}
	@media screen and ( min-width: 640px ) {

	}
	@media screen and ( min-width: 768px ) {
		padding: 1vw;
	}
	@media screen and ( min-width: 992px ) {

	}
	@media screen and ( min-width: 1200px ) {

	}
	@media screen and ( min-width: 1366px ) {

	}
	.custom-logo {
		width: 10vw;
		transition: $custom-transition;
		@media screen and ( min-width: 420px ) {
			font-size: 8vw;
		}
		@media screen and ( min-width: 768px ) {
			width: 5vw;
		}
		@media screen and ( min-width: 992px ) {
			width: 3vw;
		}
	}

}

.top-menu {
	width: 40px;
	height: 20px;
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 0px;
	color: #fff;
	cursor: pointer;
	transition: $custom-transition;
	@media screen and ( min-width: 420px ) {
		height: 25px;
		margin-right: 8px;
	}
	@media screen and ( min-width: 768px ) {
		height: 30px;
		margin-right: 15px;
		&:hover {
			width: 190px;
			&:first-child {
				width: 110px;
			}
			&:nth-child(3) {
				width: 130px;
			}
		}
	}
	@media screen and ( min-width: 992px ) {
		height: 30px;
		margin-right: 15px;
		&:hover {
			width: 200px;
			&:first-child {
				width: 120px;
			}
			&:nth-child(3) {
				width: 140px;
			}
		}
	}
	@media screen and ( min-width: 1200px ) {
		height: 30px;
		margin-right: 15px;
		&:hover {
			width: 240px;
			&:first-child {
				width: 150px;
			}
			&:nth-child(3) {
				width: 160px;
			}
		}
	}
	> div > img, > div > span {
		display: inline-block;
		vertical-align: -webkit-baseline-middle;
		height: 20px;
		float: left;
		color: #fff;
		transition: $custom-transition;
		@media screen and ( min-width: 420px ) {
			height: 25px;
		}
		@media screen and ( min-width: 768px ) {
			height: 30px;
		}
	}
	> div > span {
		padding: 0.2vw 0 0 15px;
		font-size: 3vw;
		line-height: 1;
		@media screen and ( min-width: 420px ) {
			padding: 0.7vw 0 0 15px;
			height: 25px;
			font-size: 8vw;
		}
		@media screen and ( min-width: 768px ) {
			padding: 0.4vw 0 0 15px;
			height: 30px;
			font-size: 2.2vw;
		}
		@media screen and ( min-width: 992px ) {
			height: 30px;
			font-size: 2vw;
		}
		@media screen and ( min-width: 1200px ) {
			padding: 0.3vw 0 0 15px;
			height: 30px;
		}
		@media screen and ( min-width: 1366px ) {
			padding: 0.2vw 0 0 15px;
			height: 30px;
			font-size: 1.4vw;
		}
	}
}

/* MAIN MENU */
.primary-menu-container {
	position: relative;
	padding-top: 4.5vw;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 1045;
	transition: $custom-transition;
	@media screen and ( min-width: 768px ) {
		padding-top: 1vw;
	}
	#primary-1 {
		list-style-type: none;
		padding: 0;
		li {
			a {
				color: #fff;
				font-size: 8vw;
				font-family: $avenir-black;
				padding-left: 9vw;
				transition: $custom-transition;
				@media screen and ( min-width: 768px ) {
					font-size: 4vw;
					line-height: 1.2;
					padding-left: 33%;
				}
				&:before {
					content: "our ";
					display: inline-block;
					font-size: 7.5vw;
					padding-right: 10px;
					font-family: $avenir-light;
					font-style: italic;
					transition: $custom-transition;
					@media screen and ( min-width: 768px ) {
						font-size: 3vw;
						padding-right: 15px;
					}
				}
			}
		}
	}
}
/* END MAIN MENU */

.modal-backdrop {
	background-color: rgba( #1da39c, 0.9);
	z-index: 1040;
	&.in {
		opacity: 1;
	}
}

/* MODAL EXITS */
/* END MODAL EXITS */

/* MENU MODAL */
div#menuModal {
	padding: 25px 15px 15px;
	.menu-dialog {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		.menu-header {
			padding: 15px 0 0;
			border: none;
			a.close-exit {
				display: block;
				float: right;
				width: 10vw;
			}
		}
		.menu-body {
			padding: 15px 0;
			.menu-tabs {
				display: none;
				&.active {
					display: block;
				}
			}
		}
	}
}
/* END MENU MODAL */

/* VIDEO MODAL */
.modal-video-wrap {
		display: inline-block;
		position: absolute;
		top: 75%;
		left: 50%;
		width: 80%;
		vertical-align: middle;
		transform: translate(-50%,-50%);
	div.video-modal-link {
		i {
			color: #fff;
			font-size: 20vw;
			transition: $custom-transition;
			@media screen and ( min-width: 768px ) {
				font-size: 6vw;
			}
			@media screen and ( min-width: 992px ) {
				font-size: 4vw;
			}
		}
	}
}
div#videoModal {
	padding: 25px 15px 15px;
	.video-dialog {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		.header-video {
			padding: 15px 0 0;
			border: none;
			a.close-exit {
				display: block;
				float: right;
				width: 10vw;
			}
		}
		.video-body {
			padding: 15px 0;
			height: 70%;
		}
	}
}
/* END VIDEO MODAL */

.sub-menu-cols {
	position: fixed;
	width: 100%;
	left: 0;
	padding: 0 15px;
	bottom: 25px;
	z-index: 90;
	#sub-menu-1 {
		list-style-type: none;
		margin: 0;
		padding: 0;
		&:hover {
			li {
				opacity: 0.5;
			}
		}
		li {
			position: relative;
			display: inline-block;
			float: left;
			height: 51px;
			margin-right: 1px;
			transform: matrix( 1, 0, 0, 1, 0, 0);
			transition: $custom-transition;
			a {
				&.active-color {
					background: #404043;
					.text-top {
						color: #fff;
					}
				}
			}
			a {
				position: relative;
				display: inline-block;
				padding: 10px 0 10px 15px;
				width: 100%;
				height: 51px;
				color: #404043;
				background: #ffffff;
				transition: $custom-transition;
				.text-slide {
					position: absolute;
					white-space: nowrap;
					line-height: 1;
					transition: $custom-transition;
				}
				.text-top {
					opacity: 1;
					bottom: 16px;
				}
				.text-bottom {
					font-family: $avenir-book;
					opacity: 0;
					bottom: 0;
				}
			}
			&:hover {
				opacity: 1;
				a {
					background: #404043;
					text-decoration: none;
					.text-top {
						opacity: 0;
						bottom: 27px;
					}
					.text-bottom {
						color: #fff;
						opacity: 1;
						bottom: 16px;
					}
				}
			}
			ul.sub-menu {
				position: absolute;
				padding: 0;
				width: 100%;
				left: 1px;
				bottom: 3.7vw;
				transition: $custom-transition;
				li {
					width: 100%;
					padding: 0;
					height: 0;
					opacity: 0;
					transition: $custom-transition;
					a {
						white-space: nowrap;
					}
				}
			}
		}
	}
}

#main {
	position: relative;
	display: block;
	padding-bottom: $footer-height;
}
section {
	background-size: cover !important;
	background-repeat: no-repeat !important;
	color: #fff;
}

#above-fold {
	font-size: 3.5vw;
	position: relative;
	transition: all .3s ease-in-out;
	.col-xs-12.video-wrap {
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 100%;
		video {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -2;
		}
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		background: rgba( #000, 0.3 );
		z-index: -1;
	}
	.info-wrap {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		vertical-align: middle;
		transform: translate(-50%, -50%);
		.title {
			font-family: $avenir-light;
			font-size: 7vw;
			line-height: 1;
			text-align: center;
			transition: $custom-transition;
			@media screen and ( min-width: 768px ) {
				font-size: 3.5vw;
			}
		}
		.tag-line {
			font-family: $avenir-black;
			text-align: center;
			font-size: 5vw;
			line-height: 1;
			padding-top: 1vw;
			transition: $custom-transition;
			@media screen and ( min-width: 768px ) {
				font-size: 3.3vw;
			}
		}
		.cta-above {
			position: relative;
			font-family: $avenir-light;
			font-size: 4vw;
			line-height: 1;
			text-align: center;
			padding-top: 3px;
			padding-top: 1vw;
			transition: all .2s ease-in-out;
			@media screen and ( min-width: 768px ) {
				font-size: 2.2vw;
			}
			a {
				position: relative;
				display: inline-block;
				height: 7.5vw;
				color: #fff;
				transition: $custom-transition;
				@media screen and ( min-width: 768px ) {
					height: 3vw;
				}
				.text-slide {
					position: relative;
					height: 3vw;
					line-height: 1;
					transition: $custom-transition;
					@media screen and ( min-width: 768px ) {
						height: 2.5vw;
					}
				}
				.text-top {
					line-height: 1;
					opacity: 1;
					bottom: 0;
				}
				.text-bottom {
					font-family: $avenir-medium;
					line-height: 1;
					opacity: 0;
					bottom: 1.2vw;
				}
				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					border-bottom: 4px solid #fff;
					transition: $custom-transition;
				}
				&:hover {
					text-decoration: none;
					.text-top {
						opacity: 0;
						bottom: 1.5vw;
					}
					.text-bottom {
						opacity: 1;
						bottom: 2.5vw;
					}
					&:after {
						border-bottom: 7px solid #fff;
					}
				}
			}
		}
	}
}

#under-header {
	background: #d8d8d8;
	height: 350px;
}

#page-footer {
	position: absolute;
	display: block;
	clear: both;
	width: 100%;
	bottom: 0;
	height: $footer-height;
}
/* end page setup */

