/**
 *  This is for all css that will affect the elements that are above the fold.
 */

/* Media Queries */
/**
 * @Media ( min-width: $small )
 * @Media ( min-width: $medium )
 * @Media ( min-width: $large )
 * @Media ( min-width: $xlarge )
 */
/* End Media Queries */

/* THEME FONTS */
$avenir: Avenir;
@font-face {
    font-family:  'Avenir';
    src: url('../fonts/Avenir.ttc');
}

/* THEME COLORS */
$header-color: #3C6595;
$header-dark: #143B6A;
$footer-color: #8cc07d;

/* page setup */
html, body {
	width: 100%;
	height: 100%;
	position: relative;
}

body {
	font-family: $avenir;
}

#masthead {
	position: absolute;
	display: block;
	height: 125px;
}

.primary-cols {
	position: fixed;
	bottom: 25px;
	z-index: 1000;
}

#primary-1 {
	list-style-type: none;
	font-size: 16px;
	font-family: $avenir;
	font-weight: 600;
	li {
		text-align: left;
		padding: 15px 0 15px 10px;
		margin: 0 -1px;
		width: 23.3%;
		display: inline-block;
		background: #ffffff;
		a {
			color: #404043;
		}
	}
}

#main {
	position: relative;
	display: block;
	padding-bottom: 300px;
}

#above-fold {
	position: relative;
	top: 0;
	bottom: 0;
	background: #000;
	width: 0;
	height: 0;
	transition: all .3s ease-in-out;
}

#e-state-footer {
	position: relative;
	display: block;
	clear: both;
	width: 100%;
	bottom: 0;
	height: 300px;
}
/* end page setup */

