/**
 *  This file should have all styles for this page that are below the fold of the page.
 */
/* Media Queries */
/**
 * @Media ( min-width: $small )
 * @Media ( min-width: $medium )
 * @Media ( min-width: $large )
 * @Media ( min-width: $xlarge )
 */
/* End Media Queries */
@import 'above-fold.scss';


/* SECTIONS */
section:not(:nth-child(3)) {
	line-height: 1;
	padding: 25px 0;
	.title {
		font-family: $avenir-light;
		padding-top: 5%;
		font-size: 2vw;
	}
	.title-image {
		padding-top: 10px;
	}
	.cta {
			font-family: $avenir-book;
			text-decoration: underline;
			font-size: 1.5vw;
			padding-top:15px;
	}
}
/* END SECTIONS */

/* SECTION CHRISTIAN LIVING */
#section-1 {
	.title {
		.divider {
			display: inline-block;
	    		top: 0;
	    		position: relative;
		}
		.text-italics {
			font-family: $avenir-oblique;

		}
	}
	.tag-line {
		text-weight: bold;
		letter-spacing: 15px;
		.highlight {
			letter-spacing: 2px;
			text-transform: uppercase;
			padding: 8px;
			background: #ffde16;
			display: inline-block;
		}
	}
	a {
		color: #fff;
	}
}
/* END SECTION CHRISTIAN LIVING */

/* SECTION MARRIAGE & FAMILY */
#section-2 {
	color: #000;
	font-weight: 800;
	.title {
		font-style: italic;
	}
	#aof {
		font-size: 38px;
		font-weight: 800;
		position: relative;
		color: #000;
		line-height: 1;
		top: 15px;
		height: 57px;
		width: 57px;
		display: inline-block;
		vertical-align: text-top;
		border-top: 10px solid #b84945;
		border-bottom: 10px solid #b84945;
	}
	.red-text {
		color: #b84945;
		font-weight: 800;
	}
	a {
		color: #000;
	}
}
/* END SECTION MARRIAGE & FAMILY */

/*DISABILITY & GOSPEL SECTION */
#section-3 {
	.title {
		font-family: roboto;
		font-style: italic;
		font-weight: 300;
	}
	a {
		color: #fff;
	}
}
/* END DISABILITY & GOSPEL SECTION */

#content-section {
	color: #000;
	font-size: 18px;
}

/* FOOTER AREA */
#page-footer {
	background: $footer-color;
	color: #fff;
	font-size: 1vw;
	> .row {
		padding: 15px;
		height: 55px;
		&:first-child {
			height: 260px;
			div {
				&:first-child {
					padding-top: calc(100vw / 50);
				}
			}
			.footer-email {
				display: block;
				float: right;
				padding-top: calc(100vw / 50);
				a {
					color: #fff;
					transition: all 0.2s ease-in-out;
				}
			}
			.social-links {
				display: inline-block;
				font-size: 2vw;
				padding-left: 10px;
				float: right;
				a {
					color: #fff;
				}
				&:first-of-type {
					clear: right;
				}
			}
		}
	}
}

img.wordpress-logo {
	display: inline-block;
	vertical-align: text-bottom;
}

/* END FOOTER AREA */